@tailwind base;
@tailwind components;

@keyframes bubbleAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
    
  }
  50% {
    transform: scale(1.5);
    opacity: 0.4;
   
    
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.animate-bubble {
  animation: bubbleAnimation 5s ease-out infinite;  
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.transition-slide-in {
  animation: slideIn 0.3s ease-in-out forwards;
}

.transition-slide-out {
  animation: slideOut 0.3s ease-in-out forwards;
}





@keyframes fly {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(150%) translateY(-100%);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-fly {
  animation: fly 5s linear infinite;
}

.animate-disappear {
  animation: disappear 2s linear forwards;
}



@tailwind utilities;